.icon-check {
  width: 1.46em;
  height: 1em;
  fill: #6A6E7C;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.56em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-inbox {
  width: 1.22em;
  height: 1em;
  fill: none;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
.icon-reload {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
